mixin bars(length, max)
    - var index = 0
    while index < max
        if length > 0
            .bg-midnight-blue.h-1
            - length--
        else
            .bg-cool-gray-400.h-1
        - index++
